# API KEYS (REQUERIDAS)
VT_API_KEY=tu_api_key_de_virustotal_aqui
OPENAI_API_KEY=tu_api_key_de_openai_aqui
ADMIN_SECRET_KEY=UnaClaveSecretaMuyLarga123! # Para limpiar caché manualmente


# API KEYS (OPCIONALES)
ABUSEIPDB_API_KEY=tu_api_key_de_abuseipdb_aqui


# CACHÉ Y REDIS (PRODUCCIÓN
# Si se deja vacío, el sistema usará SQLite local automáticamente.
# IMPORTANTE: Para Upstash usar el esquema 'rediss://' (con doble 's')
# Ejemplo: rediss://default:contraseña@servidor:6379
REDIS_URL=


# CONFIGURACIÓN DE SEGURIDAD (CORS)
# Lista de dominios permitidos separados por comas. SIN barra '/' al final.
# Ejemplo: http://localhost:3000,https://phishing-scanner-zeta.vercel.app
ALLOWED_ORIGINS=http://localhost:3000


# CONFIGURACIÓN DEL SISTEMA
ENVIRONMENT=development # production | development
PORT=10000

